$black: #161819;
$grey: #232526;
$grey-light: #484a4b;
$dark-blue: #213a8e;
$blue: #489ed7;
$cyan-blue: #00acb0;
$yellow: #ffcc1b;
$red: #e6334c;
$white: #ffffff;

$text-font: "Barlow";
$title-font: "Montserrat";
$font: "Fira Sans";